.checkout {
    background-image: url('https://images.unsplash.com/photo-1559825481-12a05cc00344?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D');
    height: 100%;
    main{
        display: flex;
        justify-content: center;
        gap: 2rem;
        section {
            padding: 1rem;
            background-color: #006B3E;   
            box-shadow: rgb(51, 51, 51) 5px 0px 15px, rgb(51, 51, 51) -5px 0px 15px;     
        }
        h2 {
            text-align: center;
        }
        #error-msg{
            color:red;
            text-align: center;
            font-size: 1.3rem;
        }
        small {
            color: white;
        }
        form {
            display: flex;
            flex-direction: column;
            div {
                margin: 1rem;
                input {
                    width: 100%;
                    font-size: 1.3rem;
                }
            }
            button {
                margin: auto;
                font-size: 1.5rem;
            }
        }
        aside{
            width: 15rem;
            height: fit-content;
            background-color: #006B3E;
            color: white;
            padding: 1rem;
            font-size: 1.3rem;
            box-shadow: rgb(51, 51, 51) 5px 0px 15px, rgb(51, 51, 51) -5px 0px 15px;
            #cart-items {
                max-height: 40vh;
                overflow: scroll;
                details {
                    display: flex;
                    border: 1px solid white;
                    summary {
                        font-size: 1.3rem;
                        border: 1px solid white;
                    }
                    img{
                        width: 13rem;
                        height: 13rem;
                        margin: auto;
                    }
                    div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p,button {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 707px) {
        main{
            flex-direction: column-reverse;
            aside{
                align-self: center;
                width: 90%;
            }
        }
    }
}